<footer id="sticky-footer" class="collapsed">
    <div id="settings-banner" class="hidden"></div>
    <div class="footer-content">
        <button id="profile-btn" class="btn-circle"></button>
    </div> 
    <div id="settings-content" class="hidden">
        <h1>Your Goals</h1>

        <%= render "goals/form" %> <%# try out render partial here%>
        <%= button_to('Logout', destroy_user_session_path, method: :delete, class: 'btn') %>

    </div>
</footer>
