<section id="home">
    <h1>Trackit</h1>
    <div class="card summary">
        charts here
    </div>

    <div class="card add">
        form here
    </div>

    <div class="card tally">
        list here
    </div>
</section>