/* Devise Layout  */
body.devise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view-container {
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    align-items: center;
    background: var(--clr-navy-blue);
}

.devise .icon {
    background-image: url('ic-fork-knife.svg'); 
    background-color: var(--clr-red);
    padding: 20px;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center center;
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 100%;
}

form.sign-in {
    width: 100%;
}

.view-container input {
    margin: 10px 0;
    width: 100%;
    border: none;
}

.view-container input[type=submit] {
    background-color: var(--clr-red);
    color: white;
    cursor: pointer;
}
