// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.food {
    text-align: center;

    .row {
        margin: 10px 0;
        display: flex;
        justify-content: space-around;
    }
    // Wrapper for label and input
    .input {
        width: 100%;

        input {
            width: 90%;
        }
    }

    input {
        background-color: var(--clr-grey);
        transition: box-shadow 0.3s ease-in-out;
        height: 35px;
        font-size: 1rem;
        border: none;
    }

    input:focus, textarea:focus {
        outline: none;
        box-shadow: 0 0 5px 3px rgba(0,0,0,0.2);
    }

    #add-btn {
        position: absolute;
        right: 0;
        bottom: 40%;
        box-shadow: 0 0 8px 3px rgba(0,0,0,0.2);
        transition: box-shadow 0.3s ease-in-out;
        background-color: var(--clr-red);
        color: white;
        font-size: 30px;
        transform: translate(50%, 50%);
    }

    #add-btn:hover, #add-btn:focus {
        box-shadow: 0 0 8px 6px rgba(233,30,99,0.2);
        cursor: pointer;
    }
}
