// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home {
    margin: 0 auto;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .summary {
        .card-header, .card-body  {
            display: flex;
            justify-content: space-around;
        }
        .card-header {
            background-color: var(--clr-blue);
        }
    }

    .add {
        position: relative; // Add button is absolute so needs parent to be relative
        .card-header {
            background-color: var(--clr-red);
        }
    }

    .list {
        display: block;
        width: 100%;

        .food-chip {
            background-color: var(--clr-grey);
        }

        table {
            width: 100%;
            border-spacing: 0; // Removes weird borders on food card
        }

        tr {
            margin-bottom: 10px;
        }

        td {
            padding: 20px;
        }

        tr > td:first-child {
            border-top-left-radius: 500px;
            border-bottom-left-radius: 500px;
        }

        tr > td:not(:first-child) { /* Cals, protein, carbs, fats, and not name */
            text-align: center;
        }

        td.delete {
            padding: 0;
            width: 55px !important;
            border-top-right-radius: 500px;
            border-bottom-right-radius: 500px;
            input {
                background-color: var(--clr-grey);
                color: white;
                transition: background-color 0.3s ease;
            }

            input:hover {
                cursor: pointer;
                background-color: var(--clr-red);
                color: white;
            }
        }
    }

    #hungry {
        display: block;
        height: 75px;
        width: 75px;
        margin: 0 auto;
    }
}

